<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coldroid.jimjam">

    <!-- Required to allow jobs to set "requires network" -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="@string/app_name">
        <receiver
            android:name=".NetworkBroadcastReceiver"
            android:label="Network Connection Listener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
